# Virtual environment
.venv
__pycache__/

# Local
test.py

# Dataset
dataset/lv1_1k_pbm/*
dataset/lv1_ctt_sis/*
dataset/lv2_1k_pbm_noise/*
dataset/lv2_1k_5digits/*

# Output
output/*

# Models
weights/*.joblib
