# Virtual environment
.venv
__pycache__/

# Local
test.py
.vscode/

# Dataset
dataset/raw/ctt_sis/*
dataset/processed/*
dataset/segmented/*
dataset_v2/meta/*
dataset_v2/raw/*
dataset_v2/processed/*

# Experiment outputs (images only)
experiments/output/samples/*

# Evaluation
evaluation/confusion_matrix.png
evaluation/sample_errors.png
